ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
ErrorDocument 501 /500.php
ErrorDocument 502 /500.php
ErrorDocument 503 /500.php
ErrorDocument 504 /500.php
ErrorDocument 505 /500.php
ErrorDocument 507 /500.php 

<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/webp "access plus 1 month"
 </IfModule>