    <footer>
        <div class="logo">
                <img class="logo" src="logo/webp/logo-no-background.webp" alt="" width="100" />
            </div>
            <div class="footer-text">
                <h2>Sede Legale:</h2>
                <address>
                    <p>Altivole</p>
                    <p>Via Roma, 14</p>
                    <p>31030 TV</p>
                </address>
                <a href="tel:+393333333333" class="phone">
                    <p>tel: 3333 333 333</p>
                </a>
                <p>
                    <a href="mailto:info@stecca.dev">mail: info@stecca.dev</a>
                </p>
            </div>
            <div class="footer-text">
                <h2>Cimitero:</h2>
                <address>
                    <p>Altivole</p>
                    <p>Via De Gasperi, 19</p>
                    <p>31030 TV</p>
                </address>
                <a href="tel:+393333333333" class="phone">
                    <p>tel: 3333 333 333</p>
                </a>
                <p>
                    <a href="mailto:info@stecca.dev">mail: info@stecca.dev</a>
                </p>
            </div>
            <div class="footer-text">
                <h2>Forno crematorio:</h2>
                <address>
                    <p>Altivole</p>
                    <p>Via Brioni, 26</p>
                    <p>31030 TV</p>
                </address>
                <a href="tel:+393333333333" class="phone">
                    <p>tel: 3333 333 333</p>
                </a>
                <p>
                    <a href="mailto:info@stecca.dev">mail: info@stecca.dev</a>
                </p>
            </div>
        </footer>
    </body>
</html>