<!DOCTYPE html>
<html lang="it">
	
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta
		name="author"
		content="Andrea Stecca, Marco Bernardi, Nicolo Trinca, Mattia Brunello" />
		<link rel="canonical" href="https://onoranze.stecca.dev/" />
		<meta property="og:locale" content="it_IT" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="https://onoranze.stecca.dev/" />
		<meta property="og:site_name" content="Onoranze Funebri Stecca" />
		<meta property="og:image" content="https://onoranze.stecca.dev/logo/png/preview.png" />
		<meta property="og:image:alt" content="Onoranze Funebri Stecca" />
		
		<link rel="stylesheet" href="styles/min.css" />
		<link rel="stylesheet" media="print" href="styles/print.css" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="images/favicon/apple-touch-icon.png" />
			<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="images/favicon/favicon-32x32.png" />
			<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="images/favicon/favicon-16x16.png" />
			<link rel="manifest" href="images/favicon/site.webmanifest" />
			<script></script>
		</head>

		<body>
			<header id="header">
			<a href="#main" aria-label="Vai al contenuto" class="skip-to-main-content-link">Vai al contenuto</a>
			<div class="top-nav">
				<div>
					<a aria-label="Vai alla home" href="index.php">
						<img
							class="logo"
							src="logo/png/logo-no-background.png"
							alt="Onoranze funebri"
							height="100" />
					</a>
				</div>
				<div>
					<input
						id="menu-toggle"
						class="menu-button"
						type="checkbox" />
					<label
						class="menu-button menu-button-container"
						for="menu-toggle"
						>menu</label
					>
					<nav>
						<ul class="menu">
							<li><a href="index.php"><span lang="en"> Home </span></a></li>
							<li><a href="servizi.php"> Servizi </a></li>
							<li><a href="chi-siamo.php"> Chi siamo </a></li>
							<li><a href="necrologio.php"> Necrologio </a></li>
							<li><a href="contatti.php"> Contatti</a></li>
							<li><a href="accedi.php"> Accedi </a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="breadcrumb">
				<!-- <ul-to-replace></ul-to-replace> -->
			</div>
			<a class="goup" aria-label="torna su" href="#">^</a>
		</header>